.box {
    background: var(--gray-box);
    padding: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
