.wallets {
    padding: 24px;
    border-radius: 24px;
    width: 80%;
    height: 80%;
    overflow-x: auto;
    background-color: var(--primary-bg);
}

.wallet {
    padding: 8px;
    border-radius: 24px;
    cursor: pointer;
}

.wallet:hover {
    background-color: var(--primary-purple);
}
@media screen and (max-width: 767px) {
    .wallets{
        width: 90%;
        height: 90%;
    }
}
